body{
    margin: 32px;
}
a{ 
    color: rgb(255, 255, 0);
}
img{
    margin:10px
}
.index {
    color: whitesmoke;
    margin: 32px;
}

.leftimg{
    float: left;
}
.goat{
    background-color: darkgreen;
    color: rgb(135, 148, 253);
}

.edison{
    background-color: orange;
    color:rgb(83, 83, 83);
}

.advanced{
    background-color: darkmagenta;
    color: greenyellow;
}
